.notes-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  overflow: hidden;
}

.note {
  position: absolute;
  bottom: -100px;
  
  color: rgba(0, 0, 0, 1); 
  
  animation-name: floatUp;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


@keyframes floatUp {
  from {
    transform: translateY(0);
    opacity: 0;
  }

  to {
    transform: translateY(-110vh);
  }
}